@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Fredoka+One&family=Josefin+Sans:wght@400;600&display=swap");

/** overall site theme **/

.monospace-font {
    --text-font: "DM Mono", monospace;
    --bold-weight: 500;
}

.sans-serif-font {
    --text-font: Helvetica, sans-serif;
    --bold-weight: 600;
}

body {
    background: white;
    color: black;
    font-family: var(--text-font);
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

::selection {
    background: black;
    color: white;
}

a {
    color: black;
}

a:hover {
    background: black;
    color: white;
}

/** header **/

#header-section {
    width: 70vw;
    margin: auto auto 2em;
}

.header {
    padding-top: 4em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#name {
    font-size: 2.1em;
    font-weight: var(--bold-weight);
}

#links {
    font-size: 1.1em;
    font-weight: var(--bold-weight);
    line-height: 2em;
}

#description {
    font-size: 0.875em;
    width: 100%;
    line-height: 1.5em;
}

#description ul {
    list-style-type: "> ";
    padding-inline-start: 1.15em;
}

#description ul li {
    padding-left: 0;
}

#timezone {
    display: inline;
}

.aBtn {
    background: black;
    color: white;
    font-family: var(--text-font);
    font-size: 1em;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 0.2em;
    text-align: left;
}

.aBtn:hover {
    background: none;
    color: black;
}

/** filters **/

#filters-section {
    font-size: 1.05em;
    border-top: 2px solid black;
    padding-top: 2em;
    text-align: center;
}

#filters-wrapper {
    width: 80vw;
    margin: auto;
}

.filter {
    background: none;
    color: black;
    font-family: var(--text-font);
    font-size: 1.05em;
    border: none;
    cursor: pointer;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.filter.active::before {
    content: url(images/open_eye.svg);
}

.filter::before {
    content: url(images/closed_eye.svg);
}

/** projects **/

#projects-section {
    display: flex;
    /*max-height: 0;*/
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5vmax;
    row-gap: 1.5vmax;
    padding-top: 2em;
    margin-bottom: 2em;
}

.image {
    display: none;
    height: 10.5em;
    object-fit: cover;
}

.project-wrapper {
    border: 2px solid black;
    display: none;
    flex-direction: column;
    width: 25vw;
    transition: 0.4s;
    max-height: fit-content;
}

.show {
    display: flex;
}

.project-title {
    font-weight: var(--bold-weight);
    font-size: 0.875em;
}

input[type="checkbox"] {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    content: url(images/closed_eye.svg);
}
input[type="checkbox"]:checked {
    appearance: none;
    -webkit-appearance: none;
    content: url(images/open_eye.svg);
}

.project-details {
    font-size: 0.82em;
}

.project-desc-control {
    padding-top: 1em;
}

.project-desc-control:hover {
    cursor: pointer;
}

.project-desc-control-label {
    font-size: 0.875em;
    font-weight: var(--bold-weight);
}

.project-desc-control:checked + .project-desc {
    max-height: initial;
}

.project-desc {
    font-size: 0.82em;
    max-height: 0;
    overflow: hidden;
    margin-top: 0.2em;
}

.text-wrapper {
    padding: 1.2em;
}

.project-button {
    font-size: 0.875em;
    color: white;
    background: black;
}

.button {
    font-family: var(--text-font);
    padding: 0 0.45em 0 0.45em;
    font-size: 0.85em;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}

/** media queries **/

@media screen and (max-width: 1080px) {
    #header-section {
        width: 80vw;
    }

    .header {
        align-items: flex-start;
        flex-direction: column;
    }

    .image {
        max-height: none;
        max-width: 100%;
    }

    #links {
        line-height: normal;
    }

    .project-wrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 510px) {
    .filter {
        display: block;
        padding: 0;
        margin: 0;
    }

    .project-wrapper {
        min-width: 90%;
    }

    .image {
        height: auto;
    }
}